{{/* Local block: plain education list for the Bio page */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $author := $block.content.username | default "admin" }}
{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`." $person_page_path }}
{{ end }}
{{ $person := $person_page.Params }}

{{ with $person.education }}
<div class="flex flex-col items-center max-w-prose mx-auto gap-3 justify-center px-6">
  <div class="mb-6 text-3xl font-bold text-gray-900 dark:text-white">
    {{ $block.content.title | default (i18n "education") }}
  </div>
  <ol class="relative w-full border-s border-gray-200 dark:border-gray-700">
    {{ range . }}
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-primary-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-primary-900">
        {{ partial "functions/get_icon" (dict "name" "academic-cap" "attributes" "class='w-5 h-5 text-primary-800 dark:text-primary-300'") }}
      </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ .area }}</h3>
      <span class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-300">{{ .institution }}</span>
      <time class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-300">
        {{ if .date_start }}
          {{ (time .date_start) | time.Format ($block.design.date_format | default "January 2006") }} –
        {{ end }}
        {{ if .date_end }}
          {{ (time .date_end) | time.Format ($block.design.date_format | default "January 2006") }}
        {{ else }}
          {{ i18n "present" | default "Present" }}
        {{ end }}
      </time>
      {{ with .summary }}
      <div class="mb-4 text-base font-normal text-gray-500 dark:text-gray-300 prose max-w-none prose-slate dark:prose-invert">{{ . | $page.RenderString }}</div>
      {{ end }}
    </li>
    {{ end }}
  </ol>
</div>
{{ end }}
